<ion-header >
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Categorias</ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="toggleSearchbar()"><ion-icon name="search"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar *ngIf="searchbar_hidden">
      <ion-searchbar placeholder="Pesquisar por Categoria"
        (ionBlur)="onBlur($event)"
        [(ngModel)]="queryText"
        (ionInput)="filterCat($event)"
        clearinput>
      </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-item-divider padding *ngFor="let cat of listCat" (click)="nomes()">
    <ion-icon name="pricetags" color="danger"></ion-icon>
    
    <ion-label >
    </ion-label>
    <h4 class="ion-padding-start">{{ cat.nome }}</h4>
  </ion-item-divider>

</ion-content>