<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Nomes</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item (click)="perfil()">
    <ion-avatar slot="start">
      <img src="./avatar.svg">
    </ion-avatar>
    <ion-label>
      <h3>Gabriel Bonfim</h3>
      <p>testando o app</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar.svg">
    </ion-avatar>
    <ion-label>
      <h3>Karlotinha</h3>
      <p>mais um teste</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar.svg">
    </ion-avatar>
    <ion-label>
      <h3>Aline MERCEDES</h3>
      <p>Dona de uma montadora de carros</p>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar.svg">
    </ion-avatar>
    <ion-label>
      <h3>Baiano</h3>
      <p>Só um mongoloide</p>
    </ion-label>
  </ion-item>

</ion-content>
